<div class="text-layout">
    <h1>DecimalPipe y porcentajes </h1>
    <p>
        Pipes incluidos en Angular - Usualmente en modulo CommonModule.
    </p>
</div>


<div class="p-grid">
    <div class="p-col-4">
        <p-card 
            header      ="Ventas Netas"
            subheader   = "del presente año">
            <i class="pi pi-dollar"></i>
            {{ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card 
            header      ="Ventas Brutas"
            subheader   = "del presente año">
           
            {{ (ventasNetas + 1000000) | currency: 'CLP': 'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card 
            header      ="ganancia porcentual"
            subheader   = "del presente año">
           
            {{ porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>
</div>