<div class="text-layout">
    <h1>Pipe basicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en modulo CommonModule.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower | uppercase">
                {{nombreLower | uppercase}}

        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowerCase"
                [subheader]="nombreUpper | lowercase">
                {{nombreUpper |lowercase}}

        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titleCase"
        [subheader]="nombreCompleto | titlecase">
        {{nombreCompleto | titlecase}}

</p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar fechas
    </p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'dd/MM/yyyy' </li>
                <li>fecha | date: 'MMMM dd, yyyy' </li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date: 'long':'GMT-5' </li>
                <li>fecha | date: 'long':'GMT-2' </li>
                <li>fecha | date: 'long':'':'en'</li>
                <li>fecha | date: 'long':'':'fr'</li>
            </ul>

        </p-card>
        
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date }}</li>
                <li>{{fecha | date: 'short' }}</li>
                <li>{{fecha | date: 'long' }}</li>
                <li>{{fecha | date: 'dd/MM/yyyy' }}</li>
                <li>{{fecha | date: 'MMMM dd, yyyy' }}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date: 'long':'GMT-2' }}</li>
                <li>{{fecha | date: 'long':'GMT-5' }}</li>
                <li>{{fecha | date: 'long':'':'en' }}</li>
                <li>{{fecha | date: 'long':'':'fr' }}</li>
            </ul>
        </p-card>
        
    </div>
</div>