.mapa-container{
    width: 100vw;
    height: 100vh;
}

.row{
    background-color: white;
    bottom: 50px;
    left:50px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    width: 400px ;
}