<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select  class="form-control" formControlName = "region">
                     <option value="">-- Seleccione Continente --</option>
                     <option *ngFor="let region of regiones; let i = index" 
                              [value]="region | lowercase"> {{region}} </option>
            </select>
        </div>
    </div>

    <div class="row mb-3 " *ngIf="paises.length !==0">
        <div class="col">
            <label class="form-label">Pais:</label>
            <select  class="form-control" formControlName = "pais">
                     <option value="">-- Seleccione Pais --</option>
                     <option *ngFor="let pais of paises; let i = index" 
                              [value]="pais.alpha3Code "> {{pais.name}} </option>
            </select>
        </div>
    </div>

    <div class="row mb-3" *ngIf="fronteras.length !==0">
        <div class="col">
            <label class="form-label">Fonteras:</label>
            <select  class="form-control" formControlName = "frontera">
                     <option value="">-- Seleccione Frontera --</option>
                     <option *ngFor="let frontera of fronteras; let i = index" 
                              [value]="frontera.alpha3Code"> {{frontera.name}} </option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                cargando...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end mt-2">Seleccionar</button>
        </div>
    </div>

</form>

<h3>Formulario</h3>
<pre>{{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>
