<h2> template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit) = guardar() autocomplete="off" #miFormulario="ngForm">
    
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class=" col-sm-3 col-form-label"> Nombre </label>
        
        <div class="col-sm-9">
            <input  type="text"
                    class="form-control" 
                    placeholder="Nombre de la persona"
                    [ngModel] ="persona.nombre" 
                    name = "nombre"
                    minlength="1"
                    required>
            
            <span *ngIf = "miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched" class="form-text text-danger">Requerido</span>
        </div>

    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class=" col-sm-3 col-form-label"> Agregar </label>
        <div class="col-sm-9">

            <div class="input-group">
                <input  type="text"
                        class="form-control" 
                        placeholder="Agregar Favorito"
                        [(ngModel)] ="nuevoJuego" 
                        name = "nuevoJuego"
                        (keyup.enter)="agregarJuego()"
                        >
                
                <button type="button" 
                        class="btn btn-outline-primary"
                        (click)=agregarJuego()>
                    Agregar
                </button>

            </div>
            
        </div>

    </div>

       <!-- Lista de Juegos favoritos -->
       <div class="mb-3 row">
        <label class=" col-sm-3 col-form-label"> Favoritos </label>
        
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor ="let juego of persona.favorito; let i = index">
               
                <input  class="form-control"
                        [(ngModel)]="juego.nombre"
                        name="favorito_{{ i }}" 
                        required
                        readonly>
                    
                
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="eliminar(i)">
                    Borrar
                </button>
            

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
           <button  type="button" 
                    class="btn btn-primary float-end"
                    [disabled] = "miFormulario.invalid"
                    (click)="guardar()"
                    >
                Guardar
           </button>
        </div>
    </div>


</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>